@using GoodGameDatabase.Web.ViewModels.Game;
@model IEnumerable<AllGameViewModel>

@{
    ViewData["Title"] = "All games";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
    @if (Model.Any())
    {
        <div class="row">
            @foreach (var entity in Model)
            {
                <div class="col-md-6">
                    <div class="card mb-4">
                        <img src="@entity.ImageUrl" class="card-img-top" alt="Book Cover" width="200" height="650">
                        <div class="card-body">
                            <h5 class="card-title">@entity.Name</h5>

                            <p class="card-text">ReleaseDate: @entity.ReleaseDate</p>

                            <p class="card-text">Rating: @entity.Rating</p>

                            <p class="card-text">Average Rating: @entity.SupportsWindows</p>
                            
                            <p class="card-text">Average Rating: @entity.SupportsLinux</p>

                            <p class="card-text">Average Rating: @entity.SupportsMacOs</p>

                                <a asp-controller="Game" asp-action="Details" asp-route-id="@entity.Id"
                                   class="btn btn-success">Details</a>

                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>There are no books available.</p>
    }
    </div>
</body>
</html>
