@using GoodGameDatabase.Web.ViewModels.Game;
@using GoodGameDatabase.Web.ViewModels.Review;
@model dynamic
@{
    ViewData["Title"] = "All games";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        @if (Model != null)
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-4">
                        <img src="@Model.Game.ImageUrl" class="card-img-top" alt="Book Cover" width="200" height="650">
                        <div class="card-body">
                            <h5 class="card-title">@Model.Game.Name</h5>

                            <p class="card-text">ReleaseDate: @Model.Game.ReleaseDate</p>

                            <p class="card-text">Rating: @Model.Game.Rating</p>

                            <p class="card-text">Rating: @Model.Game.Description</p>

                            <p class="card-text">SupportsPC: @Model.Game.SupportsPC</p>

                            <p class="card-text">SupportsPS: @Model.Game.SupportsPS</p>

                            <p class="card-text">SupportsXbox: @Model.Game.SupportsXbox</p>

                            <p class="card-text">SupportsNintendo: @Model.Game.SupportsNintendo</p>

                            <p class="card-text">Status: @Model.Game.Status</p>
                            <partial name="_EditGameModalPartial" model="@Model.Game" />
                        </div>
                    </div>
                </div>
            </div>
            <p>something is wrong? or wut</p>
            @foreach (GameReviewViewModel review in Model.Reviews)
            {
                <div>
                    <textarea>@review.Description</textarea>
                </div>
                <p>@review.Type</p>
                <p>@review.Author</p>
            }

            <partial name="_ReviewGamePartial" model="@Model.Game"/>

            
            <partial name="_RateGamePartial" model="@Model.Game"/>
        }
        else
        {
            <p>There are no books available.</p>
        }
    </div>
</body>
</html>
