@using GoodGameDatabase.Web.ViewModels.Game;
@model GameDetailsViewModel

@{
    ViewData["Title"] = "All games";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        @if (Model != null)
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-4">
                        <img src="@Model.ImageUrl" class="card-img-top" alt="Book Cover" width="200" height="650">
                        <div class="card-body">
                            <h5 class="card-title">@Model.Name</h5>

                            <p class="card-text">ReleaseDate: @Model.ReleaseDate</p>

                            <p class="card-text">Rating: @Model.Rating</p>

                            <p class="card-text">Rating: @Model.Description</p>

                            <p class="card-text">Average Rating: @Model.SupportsPC</p>

                            <p class="card-text">Average Rating: @Model.SupportsPS</p>

                            <p class="card-text">Average Rating: @Model.SupportsXbox</p>

                            <p class="card-text">Average Rating: @Model.SupportsNintendo</p>
@*                            <a class="block w-full select-none rounded-lg bg-pink-500 py-3.5 px-7 text-center align-middle font-sans text-sm font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                               type="button"
                               data-ripple-light="true"
                               asp-controller="Game"
                               asp-action="Edit"
                               asp-route-id="@Model.Id">
                                Edit
                            </a>*@

                            <partial name="_EditGameModalPartial" model="Model" />

                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <p>There are no books available.</p>
        }
    </div>
</body>
</html>
